Intermediate/*

Saved/*
Platforms/HoloLens/*
DerivedDataCache/*

# Various build files
Build/*
Package/*
Binaries/*

# Content folders
Content/Developers/*
Content/Collections/*
Content/StarterContent/*
